.main-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  font-family: var(--font-neue, 'Neue Montreal'), sans-serif;
  font-weight: 400;
  border-radius: 30px 30px 30px 0px;
  font-size: 17px;
  transition: all 0.25s ease;
  cursor: pointer;
}
/* Variants */
.main-btn.primary {
  background-color: #0054FF;
  color: #fff;
  padding: 10px 20px;
}
/* Logo Slider */
.logo-carousel {

  position: relative;
  width: 100%;
  overflow: hidden;
  background: transparent;
  padding: 10px 0;
}
.logo-track {
  display: flex;
  align-items: center;
  gap: 50px;
  width: max-content;
  will-change: transform;
}
.logo-item {
  flex: 0 0 auto;
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}
.logo-item:hover {
  opacity: 1;
  transform: scale(1.05);
}
.logo-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}
.logo-item:hover img {
  filter: grayscale(0%);
}
.client-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
  h4{
    font-size: 22px;
    font-weight: 400;
    color: rgb(255, 255, 255);
  }
  span{
    font-size: 15px;
    font-weight: 400;
    color: rgb(122, 122, 122);
  }
}
/* --- Overlay gradients --- */
.overlay {
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  z-index: 5;
  pointer-events: none;
}
.overlay-left {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.overlay-right {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
