@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0054FF;
  --secondary: #0DAAFF;
  --third: #97E4FF;
  --text: #BEBEBE;
  --font-highlight: var(--font-petit);
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-inter), sans-serif;
  background-color: black;
}
.container {
  width: 100%;
  max-width: 1440px; /* optional limit, adjust if needed */
  margin-left: auto;
  margin-right: auto;
  padding-left: 96px;
  padding-right: 96px;
}

/* Tablets & smaller screens */
@media (max-width: 1024px) {
  .container {
    padding-left: 48px;
    padding-right: 48px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .container {
    padding-left: 17px;
    padding-right: 17px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-neue), sans-serif;
  font-weight: 700;
}


.banner-section {
  position: relative;
  z-index: 1;
  overflow: visible !important; /* prevents cutting */
}

.clients-section {
  position: relative;
  z-index: 2;
  background: #000; /* ensures clean separation */
}

/* spacing between sections */
.section-gap {
  height: 60px; /* adjust as needed */
}

/* prevent clipping on logo carousel */
.logo-carousel {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
