@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-inter), sans-serif;
  background-color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-neue), sans-serif;
  font-weight: 700;
}